<nav id="drawer">
  <ul class="nav">
    <li class="spacer"></li>
    
    <li class="heading">
      <i class="glyphicon glyphicon-plane"></i>
      Shipped Apps
    </li>
    <li class="list-container">
      <ul class="app-list shipped-apps"></ul>
    </li>
    
    <li class="spacer"></li>
    
    <li class="heading">
      Local Apps
      <i class="glyphicon glyphicon-plus icon-right" data-event="click: new_app"></i>
    </li>
    <li class="list-container">
      <ul class="app-list local-apps"></ul>
    </li>
  </ul>
</nav>