<header class="navbar navbar-fixed-top">
  <span class="navbar-brand">awesomebox</span>
  
  <div class="nav navbar-nav pull-right">
  <% if (App.has('user')) { %>
    <% user = App.get('user') %>
    
    <li class="dropdown">
      <a href="#" class="dropdown-toggle gravatar-container" data-toggle="dropdown">
        <%= user.name %> <img class="gravatar" src="http://www.gravatar.com/avatar/<%- user.gravatar_hash %>?s=32">
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" data-event="click: account">Account</a></li>
        <li><a href="#" data-event="click: preferences">Preferences</a></li>
        <li class="divider"></li>
        <li><a href="#" data-event="click: logout">Logout</a></li>
      </ul>
    </li>
  <% } else { %>
    <button type="button" class="btn btn-primary navbar-btn" data-event="click: login">Login</button>
  <% } %>
  </div>
</header>