<!DOCTYPE html>
<html lang="en">
  <head>
    <title>awesomebox</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/components/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/components/font-awesome/build/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/components/google-code-prettify/styles/sunburst.css" rel="stylesheet">
    <%- stylesheet_include('style') %>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/components/dist/html5shiv.js"></script>
      <script src="/components/respond/respond.min.js"></script>
    <![endif]-->
    
    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/faye/client.js"></script>
    
    <script src="/components/underscore/underscore-min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/components/backbone/backbone-min.js"></script>
    
    <script src="/components/ejs/ejs.min.js"></script>
    <script src="/components/spellbinder/dist/spellbinder.min.js"></script>
    <script src="/components/moment/min/moment.min.js"></script>
    
    <script src="/components/google-code-prettify/src/prettify.js"></script>
    <!-- // <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=html&skin=sunburst"></script> -->
  </head>
  
  <body>
    <%- yield() %>
  </body>
</html>