<!DOCTYPE html>
<html lang="en">
  <head>
    <title>awesomebox</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/components/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/components/dist/html5shiv.js"></script>
      <script src="/components/respond/respond.min.js"></script>
    <![endif]-->
    
    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/components/underscore/underscore-min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/components/backbone/backbone-min.js"></script>
    
    <script src="/components/ejs/ejs.min.js"></script>
    <script src="/components/spellbinder/dist/spellbinder.min.js"></script>
  </head>
  
  <body>
    <%- yield() %>
  </body>
</html>